<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testes Funcionais Media Manager">

	<!-- Execute test in Chrome -->
	<!-- <parameter name="parameters" value="browser=CHROME;chromeDriverBin=.\drivers\chromedriver.exe;chromeBin=C:\Program 
		Files (x86)\Google\Chrome\Application\chrome.exe"/> -->

	<!-- Execute test in firefox -->
	<parameter name="parameters" value="browser=FIREFOX;profile=C:\Users\guilherme.alecrim\AppData\Roaming\Mozilla\Firefox\Profiles\1plzdzxc.beholder" />

	<!-- Execute test in IE -->
	<!-- <parameter name="parameters" value="browser=IE;ieDriverBin=.\drivers\IE.exe"/> -->

	<test name="TF - Media Manager">
		<parameter name="url" value="http://localhost:8080/mediamanager/mediamanager/index.html" />			
		<groups>
			<run>
				<!-- Execute all tests -->
				<include name="mediaManager" />
			</run>
		</groups>

		<packages>
			<package name="br.ufmg.dcc.saotome.beholder.selenium" />
		</packages>

		<classes>
			<class name="org.cruxframework.mediamanager.test.execute.CTConfiguration" />
			<class name="org.cruxframework.mediamanager.test.execute.CTLogin" />
  	     	<class name="org.cruxframework.mediamanager.test.execute.CTAddArtist" />
 		 	<class name="org.cruxframework.mediamanager.test.execute.CTAddMedia" /> 
			<class name="org.cruxframework.mediamanager.test.execute.CTSearchArtist" /> 
			<class name="org.cruxframework.mediamanager.test.execute.CTSearchMedia" />
			<class name="org.cruxframework.mediamanager.test.execute.CTStatistics" />
		</classes>
	</test>
</suite>







