<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testes Funcionais Media Manager">

	<!-- <parameter name="parameters" value="browser=CHROME;chromeDriverBin=D:\workspaces\testescrux\test-media-manager\drivers\chromedriver.exe;chromeBin=C:\Program 
		Files (x86)\Google\Chrome\Application\chrome.exe"/> -->

	<parameter name="parameters" value="browser=FIREFOX;profile=C:\Users\guilherme.alecrim\AppData\Roaming\Mozilla\Firefox\Profiles\1plzdzxc.beholder" />

	<!-- <parameter name="parameters" value="browser=IE;ieDriverBin=D:\workspaces\testescrux\test-media-manager\drivers\IE.exe"/> -->

	<test name="TF - Media Manager">

		<parameter name="url" value="http://halley.sysmap.com.br:8082/mediamanager/mediamanager/index.html" />

		<groups>
			<run>
				<!-- Executa todos os testes -->
				<include name="mediaManager" />

				<!-- Executa somente os casos de testes do trunck -->
				<!-- <include name="trunck"/> -->

				<!-- Executa somente os cassos de testes do brach -->
				<!-- <include name="branch"/> -->
			</run>
		</groups>

		<packages>
			<package name="br.ufmg.dcc.saotome.beholder.selenium" />
		</packages>

		<classes>
			<class name="org.cruxframework.mediamanager.test.execute.CTConfiguration" />
			<class name="org.cruxframework.mediamanager.test.execute.CTLogin" />
			<class name="org.cruxframework.mediamanager.test.execute.CTAddArtist" />
			<class name="org.cruxframework.mediamanager.test.execute.CTAddMedia" />
			<class name="org.cruxframework.mediamanager.test.execute.CTSearchArtist" />
			<class name="org.cruxframework.mediamanager.test.execute.CTSearchMedia" />
			<class name="org.cruxframework.mediamanager.test.execute.CTStatistics" />
		</classes>
	</test>
</suite>







